@import "../../style/variables";
@import "../../style/mixins";

.pagination {
  display: flex;
  gap: 0.5rem;
  margin-top: $marginTop-small;

  & > * {
    cursor: pointer;
  }

  &__button {
    @include paginationItem;
  }

  &__pageNumber {
    @include paginationItem;
  }
}
