@import "../../style/variables";
@import "../../style/mixins";

.landing {
  padding: $padding-desktop;
  @include respond(bp-1024) {
    padding: $padding-tablet;
  }
  @include respond(bp-640) {
    padding: $padding-mobile;
  }

  &__cardsBox {
    margin-top: $marginTop-small;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 2rem;

    @include respond(bp-768) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond(bp-640) {
      grid-template-columns: 1fr;
    }
  }
}
