@import "../../style/variables";
@import "../../style/mixins";

.header {
  background-color: $color-grey;
  padding: $padding-desktop;
  @include respond(bp-1024) {
    padding: $padding-tablet;
  }
  @include respond(bp-640) {
    padding: $padding-mobile;
  }
  
  & > a{
    color: $color-black;
    font-size: $fSize-text;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;

    @include respond(bp-640) {
      font-size: $fSize-text-mobile;
    }
  }
}
