@import "./variables";

@mixin paginationItem {
  border: none;
  background-color: $color-blue;
  color: $color-white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: $fSize-text;
}

@mixin listHeadline {
  font-size: $fSize-text;
  margin-top: $marginTop-small;
  margin-bottom: 1rem;
}

@mixin listLinks {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

// MEDIA QUERIES - RESPONSIVNESS
@mixin respond($breakpoint) {
  @if $breakpoint == bp-1024 {
    @media (max-width: 64rem) {
      @content;
    } // 64rem = 1024px
  }
  @if $breakpoint == bp-768 {
    @media (max-width: 48rem) {
      @content;
    } // 48rem = 768px
  }
  @if $breakpoint == bp-640 {
    @media (max-width: 40rem) {
      @content;
    } // 40rem = 640px
  }
}