$color-grey: #c8c8c8;
$color-black: #4f4f4f;
$color-white: #efefef;
$color-blue: #235eff;
$color-violet: rgb(234, 93, 234);
$color-violet-dark: rgb(213, 84, 213);

$padding-big: 2rem 15rem;
$padding-modal: 2rem;

$fSize-text: 1.6rem;
$fSize-modal-name: 3rem;

$marginTop-small: 4rem;
