@import "../../style/variables";
@import "../../style/mixins";

.status {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: fit-content;
  border-radius: 5px;
  padding: $padding-status-desktop;
  font-size: $fSize-text;
  color: white;
  @include respond(bp-640) {
    font-size: $fSize-text-mobile;
    padding: $padding-status-mobile;
  }
}
